body{
    font-family: sans-serif;
    background-color: rgb(235, 219, 213);
}
.container{
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
    background-color: white;
    object-fit: contain;
    border-radius: 8px;
}

h1{
    text-align: center;
}
h2{
    margin-top: 20px;
    padding-left: 20px;
}
ul,ol{
    margin-bottom: 10px;
}
    

.pic{
    height: 200px;
    padding: 20px;
    margin: auto;
    border-radius: 15px;

}
p{
    width: 450px;
    padding: 20px;
}
h3 {
    color:rgb(247, 234, 234);

}
ul class{
    background-color: rgb(196, 118, 189);
}
.mainlist li{
    color: black;
    width: 430px;
    padding: 20px;
}

h2{
    color: rgb(131, 26, 26);
    border-bottom: 1px solid black;
}
ul{
    width: 800px;
    height: 100px;
}
.prep{
background-color: rgb(249, 215, 250);
width: 800px;
}
ol{
    width: 800px;


}


th,td{
   padding-left: 100px;
   padding-top: 40px;
   border-bottom: 1px solid black;
   width: 100%;
}
th{
    padding-left: 0px;
}
.recepe-card{
    border-radius:10px; /* Adjust the value for desired curvature */
    background-color: #f2f2f2; /* set the background color */
    padding:20px;
}







    







