body{
height:100vb;
background-color:aqua;

    
}
div{
    background-color:white;
    width: 350px;
    padding: 50px; 
    margin-left: 45%;
margin-top: 300px;
}
h1{
    display: inline;
}
a{
    display: block;
    background-color: blueviolet;
}
.ggg{
    background-color: darkgoldenrod;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    display: inline;
    margin: 10px;
    padding: 50px;
}